/* Estilo dos botões */

.btn-primary, .btn-secondary{
    margin-top: 10%;
}

.btnadd-head {
    width: 100%;
}

.btn-adicionar {
    margin: 0 1rem 0 12vw;
    width: 14em;
    height: 4.2em;
    font-size: 11px;
}

.btn-restaurar {
    width: 14em;
    height: 4.2em;
    font-size: 11px;
}

.box {
    margin: 0 0 0 15vw;
}

.box-pesquisa {
    margin: 1rem 0 0 0;
    width: 14em;
    border: none;
    border-bottom: 1px solid black;
    height: 2.5em;
    text-align: center;
    color: #666666;
}

.box-lupa {
    width: 20px;
    position: absolute;
    margin: 12px 0 0 0;
}

.cabecalho-tabela th{
    color: white;
    background: #124D81;
    text-align: center;
}

.cabecalho-tabela tr,.cabecalho-tabela th{
    font-weight: normal;
    padding: 8.5px;
}


.tabela-cadastro{
    height: 2rem;
}

.conteudo-tabela tr td{
    padding: 5.5px;
}



/* Estilo da coluna "desativar" */
/* .campodesativar {
    width: 10%;
} */

.acessarDesativar{
    width: 165px;
}

/* Estilo da tabela */
/* #tabela-cadastro {
    width: 60%;
} */

#tabela-ativos {
    font-size: large;
}

.tabelaNomes{
    height: auto;
}

.btn-primary {
    align-items: center;
    float: left;
    color: white;
    font-weight: 300;
    background-color: #0407aa;
}

.btn-secondary {
    width: 110px;
    height: 40px;
    background-color: #fff;
    color: black;
    border: 1px solid #c7c7c7;
}

.btn-tertiary{
    background: #db700c;
}

.btn-acessar {
    color: white;
    background-color: #1351b4;
    padding: 0.4rem 0.6rem;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #c7c7c7;
}

.btn-acessar:hover{
    filter: brightness(1.3);
    cursor: pointer;
}

.btn-desativarconselheiro {
    padding: 0.4rem 0.7rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 100%;
}
/* .btn-desativarconselheiro i{
 color: #1764A8;
} */

.group-buttons{
    display: flex;
    justify-content: center;
    margin: 0 0 0 10vw;
}

.btn-ranking{position: relative;margin-left: 84%;float: right;max-width: 14em !important;background-color: #124D81;}

.head-tab, .head-tab th{
    font-weight:400;
    height: 25px;
}

.container-table {
    font-size: small;
    font-weight: 1;
    display: flex;
    justify-content: center;
    min-height: 59vh;
    max-height: 60vh;
  }

  .container-table table{
    overflow-y: overlay;
  }

.container-table a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 93, 146);
}
.container-table a:hover{
    filter: brightness(1.3);
}

#adicionarConselheiro {
    min-width: 50px;
    min-height: 15px;
    text-align: center;
    color: black;
    background-color: #cfe9ff;
    border-radius: 10px;
}

#adicionarConselheiro {
    font-size: large;
    width: 100%;
    min-height: 40px;
    max-height: 60px;
    margin: 10% 0 10% 0;
}

/* Retirar setas em campos number */

/* Chrome, opera, entre outros... */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.classificando{
    cursor: pointer;
    padding: 3px 5px;
}